.center{
    /* justify-content: center; */
    margin: 0;
    padding: 5px;
    background-color: rgb(180, 232, 232);
    width: 400px;
    position: absolute;
    top: 20%;
    left: 40%;
}

.center h1{
    text-align: center;
}

.center form{
    padding: 0 30px;
}
.submit{
    background-color: rgb(2, 109, 125);
    width: 100%;
    height:50px;
    margin-bottom: 4px;
    border: 1px solid ;
    border-radius: 2px;
    color: aliceblue;
    
    font-size: 18px;
    font-weight: 400;
}